<!DOCTYPE html>
<html>

  {% include head.html %}

 <!--  <body data-spy="scroll" data-target="#myAffix"> -->
  <body>

    {% include header.html %}


    <div id="main" class="container main">
      {{ content }}
    </div>

    
    <div id="top" data-toggle="tooltip" data-placement="left" title="回到顶部">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}

<!-- 在新窗口中打开 -->
   <script type="text/javascript">
  //   function addBlankTargetForLinks () {
  //     $('a[href^="http"]').each(function(){
  //         $(this).attr('target', '_blank');
  //     });
  //   }
  //   $(document).bind('DOMNodeInserted', function(event) {
  //     addBlankTargetForLinks();
  //   });
  </script>
  </body>


  <!-- 谷歌站内搜索代码区 -->
  <script>
    (function() {
        var cx = '008569212452501598347:kzyvqkklo7i';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
  </script>


  <!-- swiftype搜索 -->
      <script type="text/javascript">
        (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
        })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

        _st('install','C4jYVzyFKtbShH1hjw21','2.0.0');
      </script>

</html>
